<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            deprecated="false"
            factory-class="org.knime.scijava.base.node.MultiplyNodeFactory">
      </node>
   </extension>
</plugin>
